.bidirectional-transaction-display {
  &__button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 16px;
  }

  &__button {
    width: 120px !important;
  }
}
