.create-cobo-vault-hint {
  &__danger {
    color: red;
  }

  &__download {
    margin-bottom: 24px;
  }

  &__text {
    line-height: 24px;
  }

  &__hint {
    color: grey;
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  &__link {
    color: blue;
    text-underline: blue;
  }
}
